body {
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    padding-top: 100px;
}

h1 {
    text-align: center;
}

h2 {
    font-weight: bold;
}

h3 {
    font-style: italic;
}

p {
    font-size: 30px;
}
  
.navbar {
    background-color: lightgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
}

.navbar-button-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-item {
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchbar-container {
    background-color: lightblue;
    margin: 15px;
    height: 50px;
}

.searchbar {
    width: 400px;
    height: 50px;
    font-size: 25px;
}

img {
    width: 300px;
    border-radius: 25px;
}

.button1 {
    display: block;
    background-color: rgb(237, 63, 63);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px;
    margin: 15px;
    cursor: pointer;
    transition: .15s;
}

.button2 {
    display: block;
    background-color: transparent;
    color: rgb(49, 132, 187);
    border: solid rgb(49, 132, 187) 2px;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    cursor: pointer;
    font-size: medium;
}

.button3 {
    display: block;
    background-color: rgb(49, 132, 187);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px;
    margin: 15px;
    cursor: pointer;
    font-size: medium;
    font-weight: 700;
    transition: .15s;
    box-shadow: 0px 5px 5px rgba(49, 132, 187, .5);
}

.button1:hover {
    background-color: rgb(232, 38, 38);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.button1:active {
    background-color: green;
    color: black;
    border: solid pink 4px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.button2:hover {
    background-color: rgb(91, 108, 120);
    color: black;
    border: solid black 2px;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.button2:active {
    background-color: green;
    color: black;
    border: solid black 2px;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.button3:hover {
    background-color: rgb(6, 76, 123);
}

.button3:active {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.client-section {
    width: 100%;
} 

.client-title {
    text-align: center;
}

.client-testimonials {
    width: 100%;
}

.individual-testimonial {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin: 25px;
    padding: 25px;
}

.testimonial-quote {
    display: block;
    font-size: medium;
    text-align: center;
}

.testimonial-pic {
    display: block;

}

.service-list {
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}
